# ignore ipython notebook file #
################################
*.ipynb
*.csv
# ignore settings #
################################
settings.py
*.pyc
# node dependencies #
################################
node_modules
npm-debug.log
